---
import Layout from '~/layouts/AppBaseLayout.astro';
 

const { meta } = Astro.props;
import { useUserAgent } from 'astro-useragent';
import Logo from '~/components/atoms/Logo.astro';
 
const uaString = Astro.request.headers.get('user-agent');
const { source, isMobile } = useUserAgent(uaString);
---

<!-- <Layout meta={meta}>
  {
    isMobile ? (
      <Header heading={meta?.heading || {}} slot="header">
        <div class="pt-2" slot="thoughts">
          <Panel heading="Thoughts">
            <Analyze client:load />
          </Panel>
        </div>
      </Header>
    ) : (
      <Header heading={meta?.heading || {}} slot="header">
        <div slot="search">
          <Input client:load />
        </div>
        <div class="pt-2 pb-2" slot="thoughts">
          <Panel heading="Thoughts">
            <Analyze client:load />
          </Panel>
        </div>
      </Header>
    )
  }
  {
    isMobile ? (
      <div slot="footer" class="bg-white bg-opacity-95  z-50  p-0 pt-1      w-full     left-0   bottom-0       ">
        <Input client:load />
      </div>
    ) : null
  }

  <div class="h-full flex flex-col p-0 m-0 flex-grow-1 pt-2">
    <slot />
  </div>
  <script></script>
</Layout> -->
<Layout meta={meta}>
  <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col h-full">
      {/* Page content here */}
      <label for="my-drawer-2" class="drawer-button lg:hidden">
        <div class="h-12 flex justify-between">
          <Logo />

          <!-- <div class="flex items-center md:hidden">
					 
					<ToggleMenu />
				</div> -->
        </div>
      </label>
      <!-- <Input client:load /> -->
      <div class="h-full w-full p-1 m-0 pt-2">
        <slot />
      </div>
    </div>
 

    <!-- {
    isMobile ? (
      <Header heading={meta?.heading || {}} slot="header" />
    ) : (
      <Header heading={meta?.heading || {}} slot="header">
        
      </Header>
    )
  }
   -->

    <script></script>
  </div>
</Layout>
