---
 

 
 
import Layout from '~/layouts/BaseLayout.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
  <slot name="header">
 
  </slot>

  <div class="p-0 m-0 container mx-auto w-full md:max-w-4xl">
    <div class="lg:mx-0 mx-1 rounded-lg border-gray-900 border-solid border-2">
      <main>
    
        <slot />
      </main>
    </div>
  </div>

 
</Layout>
